@page "/"
@using System.Text.RegularExpressions;

<PageTitle>Calculadora</PageTitle>


<input @bind="VLSM" type="checkbox" />Calculadora VLSM

<table class="tabla1">
	<tr>
		<td>Dirección Ip/Máscara de red</td>
		<td><input @bind="ip" type="text"></td>
	</tr>
	<tr>
		<td>Número de subredes</td>
		<td>
				<input @bind="subredes">
				<button @onclick="Actualiza">Change</button>
		</td>
	</tr>
	<tr>
		<td>Tamaño de hosts</td>
		<td>
			@for (int i = 0; i < listaSubredes.Count; i++)
			{
				Subred subred = listaSubredes[i];
							<label>Nombre</label>
							<input @bind="subred.Nombre"  id="inputName" />

							<label>Tamaño</label>

								<input @bind="subred.Tamano" id="inputSize" />
							<br>
			}

		</td>
	</tr>
	<tr>
		<td class="submit" colspan="2">
			@if (!VLSM)
			{
						<button @onclick="Calcular">Enviar</button>
			}
			else
			{
						<button @onclick="CalcularVLSM">Enviar VLSM</button>
			}
		</td>
	</tr>
</table>
@if (posible && tamanoPosible)
{
	@if (calculado)
	{
		<table class="tabla2">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Dirección de subred</th>
					<th>Máscara de subred</th>
					<th>Rango de direcciones IP asignables</th>
					<th>Cantidad de hosts disponibles</th>
					<th>Dirección de broadcast</th>
				</tr>
			</thead>
			<tbody>
				@if (!VLSM)
				{
					@for (int i = 0; i < redesResult.Length; i++)
					{
																<tr>
																	<td>@nombresResult[i]</td>
																	<td>@redesResult[i]</td>
																	<td>@mascaraResult</td>
																	<td>@rangosResult[i]</td>
																	<td>@hostsResult</td>
																	<td>@broadcastResult[i]</td>
																</tr>
					}
				}
				else
				{
					@for (int i = 0; i < redesResult.Length; i++)
					{
																				<tr>
																					<td>@nombresResultVLSM[i]</td>
																					<td>@redesResult[i]</td>
																					<td>@mascaraResultVLSM[i]</td>
																					<td>@rangosResult[i]</td>
																					<td>@hostsResultVLSM[i]</td>
																					<td>@broadcastResult[i]</td>
																				</tr>
					}
				}




					</tbody>

				</table>
	}
}
else
{
			<h1 class="error">Introduce una dirección Ip o un tamaño válido</h1>
}


